PORT=3000
PUBLIC_ORIGIN=http://localhost:3000
KAKAO_REST_API_KEY=여기에_카카오_REST_API_키
VWORLD_API_KEY=여기에_브이월드_API_키
PUBLIC_DATA_SERVICE_KEY=여기에_공공데이터포털_일반_인증키_Decoding
VWORLD_DATASET=LT_C_BLDG
KMA_NX=99
KMA_NY=75
ASOS_STATION_ID=159
